proxy_cache_path              {{ ngx_proxy_cache_path | mandatory }}
                              levels={{ ngx_proxy_cache_levels | default("1:2") }}
                              keys_zone={{ ngx_proxy_cache_zone | mandatory }}:{{ ngx_http_proxy_cache_zone_size | default("10m") }}
                              inactive={{ ngx_proxy_cache_inactive | default("24h") }}
                              max_size={{ ngx_proxy_cache_max_size | default("32m") }};
