# adds the line "Content-Type" into response-header, same as "source_charset"
charset                       {{ ngx_http_charset | default("utf-8") }};

ignore_invalid_headers        {{ ngx_ignore_invalid_headers | default("on") }};

# allow a single range header for resumed downloads and to stop large range header DoS attacks
max_ranges                    1;
