types_hash_max_size           {{ ngx_types_hash_max_size | default(2048) }};
server_names_hash_bucket_size {{ server_names_hash_bucket_size | default(128) }};

# allow all browsers to use keepalive connections
keepalive_disable             {{ ngx_http_keepalive_disable | default("none") }};

msie_padding                  {{ ngx_http_msie_padding | default("off") }};

output_buffers                {{ ngx_http_output_buffers_number | default(1) }} {{ ngx_http_output_buffers_size | default(512) }};

# postpone sends to match our machine's MSS
postpone_output               {{ ngx_http_postpone_output | default(1440) }};
# kernel read head set to the output_buffers
read_ahead                    {{ ngx_http_output_buffers_size | default(512) }}K;
recursive_error_pages         {{ ngx_http_recursive_error_pages | default("on") }};

## Define a zone for limiting the number of simultaneous
## connections nginx accepts. 1m means 32000 simultaneous
## sessions. We need to define for each server the limit_conn
## value refering to this or other zones.
## ** This syntax requires nginx version >=
## ** 1.1.8. Cf. http://nginx.org/en/CHANGES. If using an older
## ** version then use the limit_zone directive below
## ** instead. Comment out this
## ** one if not using nginx version >= 1.1.8.
limit_conn_zone               $binary_remote_addr zone=arbeit:10m;
